.activity-icon {
    float: left;
}

.activity-header {
    border-radius: 8px;
    border: 0.25px solid;
    border-color: #2c2727;
    padding: 0.6em 0.6em;
    font-size: 1em;
    font-weight: 500;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: #737777;
    margin: 20px;
}

.activity-info {

}

.add-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 0.6em;
    font-size: 1em;
    font-weight: 500;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: #d9975c;
    cursor: pointer;
    transition: border-color 0.25s;
    float: left;
}
.add-button:hover {
    border-color: #646cff;
}

.add-button:focus,
.add-button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.flex-container {
    display: flex;
}

.flex-item {
    align-self: center;
    margin: 15px;
}

.flex-item-left {
    margin-left: auto;
}

.btn-flex-container {
    display: flex;
}

.btn-flex-item {
    align-self: center;
    padding: 2px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin: 0px 5px 0px 5px;
}

.grid-item-left-col {
    margin-left: auto;
}

.override {
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
}