#activity-icon {
    float: left;
}

#activity-header {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 0.6em;
    font-size: 1em;
    font-weight: 500;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: #737777;

}

#add-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 0.6em;
    font-size: 1em;
    font-weight: 500;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: #d9975c;
    cursor: pointer;
    transition: border-color 0.25s;
    float: left;
}
#add-button:hover {
    border-color: #646cff;
}

#add-button:focus,
#add-button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.flex-container {
    display: flex;
}

.flex-item {
    align-self: center
}