.expense {
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: #4a5855;
    margin: 8px;
}

.submit-btn {
    background-color: #636f46;
}

.edit-btn {
    background-color: #d9975c;
}

.cancel-btn {
    background-color: #d06b77;
}

.btn {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 0.6em;
    font-size: 1em;
    font-weight: 500;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    cursor: pointer;
    transition: border-color 0.25s;
    float: left;
    margin: 5px;
}

.btn:hover {
    border-color: #646cff;
}

.btn:focus,
.btn:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.btn-flex-container {
    display: flex;
}

.btn-flex-item {
    align-self: center;
    padding: 2px;
}

.flex-container {
    display: flex;
}

.flex-item {
    align-self: center
}



/* Test */
.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field option {
    background: #9b9b9b;
}

    .form__field::placeholder {
        color: transparent;
    }

    .form__field:placeholder-shown ~ .form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

    .form__field:focus ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: #11998e;
        font-weight: 700;
    }

/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}
